<!-- Paging no tiene codigo funcional  -->
<div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card mt-4">
          <div class="card-body">
            <div class="card-title">
            </div>
            <div>
              <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>